In [2]:
import numpy as np 
import pandas as p

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
train_data=pd.read_csv(r'pubg - Dr. Darshan Ingle.csv')

In [14]:
train_data.shape

(10000, 29)

In [15]:
train_data.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,2f262dd9795e60,78437bcd91d40e,d5db3a49eb2955,0,0,0.0,0,0,0,92,...,0,0.0,0,0.0,0,0,0.0,0,1470,0.0000
1,a32847cf5bf34b,85b7ce5a12e10b,65223f05c7fdb4,0,0,163.2,1,1,0,42,...,0,0.0,0,0.0,0,0,132.7,2,1531,0.2222
2,1b1900a9990396,edf80d6523380a,1cadec4534f30a,0,3,278.7,2,1,8,16,...,3,0.0,0,0.0,0,0,3591.0,10,0,0.8571
3,f589dd03b60bf2,804ab5e5585558,c4a5676dc91604,0,0,191.9,1,0,0,31,...,0,0.0,0,0.0,0,0,332.7,3,0,0.3462
4,c23c4cc5b78b35,b3e2cd169ed920,cd595700a01bfa,0,0,100.0,1,0,0,87,...,0,0.0,0,0.0,0,0,252.7,3,1557,0.0690

In [16]:
test_data=pd.read_csv(r'pubg - Dr. Darshan Ingle.csv')

In [17]:
 test_data.shape

(10000, 29)

In [18]:
 test_data.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,2f262dd9795e60,78437bcd91d40e,d5db3a49eb2955,0,0,0.0,0,0,0,92,...,0,0.0,0,0.0,0,0,0.0,0,1470,0.0000
1,a32847cf5bf34b,85b7ce5a12e10b,65223f05c7fdb4,0,0,163.2,1,1,0,42,...,0,0.0,0,0.0,0,0,132.7,2,1531,0.2222
2,1b1900a9990396,edf80d6523380a,1cadec4534f30a,0,3,278.7,2,1,8,16,...,3,0.0,0,0.0,0,0,3591.0,10,0,0.8571
3,f589dd03b60bf2,804ab5e5585558,c4a5676dc91604,0,0,191.9,1,0,0,31,...,0,0.0,0,0.0,0,0,332.7,3,0,0.3462
4,c23c4cc5b78b35,b3e2cd169ed920,cd595700a01bfa,0,0,100.0,1,0,0,87,...,0,0.0,0,0.0,0,0,252.7,3,1557,0.0690

In [19]:
 train_data.columns

Index(['Id', 'groupId', 'matchId', 'assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'matchDuration', 'matchType', 'maxPlace',
       'numGroups', 'rankPoints', 'revives', 'rideDistance', 'roadKills',
       'swimDistance', 'teamKills', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints', 'winPlacePerc'],
      dtype='object')

In [20]:
test_data.columns

Index(['Id', 'groupId', 'matchId', 'assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'matchDuration', 'matchType', 'maxPlace',
       'numGroups', 'rankPoints', 'revives', 'rideDistance', 'roadKills',
       'swimDistance', 'teamKills', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints', 'winPlacePerc'],
      dtype='object')

In [21]:
 test_data.isnull().sum()

Id                 0
groupId            0
matchId            0
assists            0
boosts             0
damageDealt        0
DBNOs              0
headshotKills      0
heals              0
killPlace          0
killPoints         0
kills              0
killStreaks        0
longestKill        0
matchDuration      0
matchType          0
maxPlace           0
numGroups          0
rankPoints         0
revives            0
rideDistance       0
roadKills          0
swimDistance       0
teamKills          0
vehicleDestroys    0
walkDistance       0
weaponsAcquired    0
winPoints          0
winPlacePerc       0
dtype: int64

In [22]:
train_data.isnull().sum()

Id                 0
groupId            0
matchId            0
assists            0
boosts             0
damageDealt        0
DBNOs              0
headshotKills      0
heals              0
killPlace          0
killPoints         0
kills              0
killStreaks        0
longestKill        0
matchDuration      0
matchType          0
maxPlace           0
numGroups          0
rankPoints         0
revives            0
rideDistance       0
roadKills          0
swimDistance       0
teamKills          0
vehicleDestroys    0
walkDistance       0
weaponsAcquired    0
winPoints          0
winPlacePerc       0
dtype: int64

In [23]:
 train_data['winPlacePerc'].mean()

0.4699255600000018

In [24]:
train_data['winPlacePerc'].replace(np.NaN,train_data['winPlacePerc'].mean()).head()

0    0.0000
1    0.2222
2    0.8571
3    0.3462
4    0.0690
Name: winPlacePerc, dtype: float64

In [25]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [26]:
import seaborn as sns
import os

In [27]:
 train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               10000 non-null  object
 1   groupId          10000 non-null  object
 2   matchId          10000 non-null  object
 3   assists          10000 non-null  int64
 4   boosts           10000 non-null  int64
 5   damageDealt      10000 non-null  float64
 6   DBNOs            10000 non-null  int64
 7   headshotKills    10000 non-null  int64
 8   heals            10000 non-null  int64
 9   killPlace        10000 non-null  int64
 10  killPoints       10000 non-null  int64
 11  kills            10000 non-null  int64
 12  killStreaks      10000 non-null  int64
 13  longestKill      10000 non-null  float64
 14  matchDuration    10000 non-null  int64
 15  matchType        10000 non-null  object
 16  maxPlace         10000 non-null  int64
 17  numGroups        10000 non-null  int64
 18  rankPoints       10000 non-null  int64
 19  revives          10000 non-null  int64
 20  rideDistance     10000 non-null  float64
 21  roadKills        10000 non-null  int64
 22  swimDistance     10000 non-null  float64
 23  teamKills        10000 non-null  int64
 24  vehicleDestroys  10000 non-null  int64
 25  walkDistance     10000 non-null  float64
 26  weaponsAcquired  10000 non-null  int64
 27  winPoints        10000 non-null  int64
 28  winPlacePerc     10000 non-null  float64
dtypes: float64(6), int64(19), object(4)
memory usage: 2.2+ MB

In [28]:
from sklearn import metrics,svm,datasets

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
#duplicating train and test values.

test=test_data

In [ ]:
train_data=train_data[train.winPlacePerc.notnull()]

In [35]:
 train=train_data

In [36]:
train['headshotRate'] = train['headshotKills'] / train['kills']

In [37]:
train['headshotRate'] = train['headshotRate'].fillna(0)

In [38]:
Y_train=train_data['winPlacePerc']

In [39]:
X_train=train.drop(['winPlacePerc','matchType','matchId','groupId','Id'],axis=1)

In [40]:
x_test=test_data.drop(['matchType','matchId','groupId','Id'],axis=1)

In [41]:
rf=RandomForestRegressor(n_estimators=80, random_state=1937, n_jobs=3, min_samples_leaf=3, max_features='sqrt')

In [ ]:
rf.fit(features, labels)

In [ ]:
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=3,
           oob_score=False, random_state=1937, verbose=0, warm_start=False)

In [44]:
#testing the dataset
test = test_data

test['headshotRate'] = test['headshotKills'] / test['kills']
test['headshotRate'] = test['headshotRate'].fillna(0)

In [45]:
test = test.drop(['Id', 'groupId', 'matchId'],axis=1)
test = pd.get_dummies(test)

In [46]:
test.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,...,matchType_flarefpp,matchType_flaretpp,matchType_normal-duo-fpp,matchType_normal-solo-fpp,matchType_normal-squad,matchType_normal-squad-fpp,matchType_solo,matchType_solo-fpp,matchType_squad,matchType_squad-fpp
0,0,0,0.0,0,0,0,92,1126,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,163.2,1,1,0,42,1309,1,1,...,0,0,0,0,0,0,0,0,0,1
2,0,3,278.7,2,1,8,16,0,2,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,191.9,1,0,0,31,0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,0,0,100.0,1,0,0,87,1332,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#predicting the dataset using rf model
prediction = rf.predict(test)

In [ ]:
final = pd.DataFrame({"Id":test_data['Id'], "winPlacePerc":prediction})

In [ ]:
print(final)

In [ ]:
 final.to_csv("final.csv", index=False)

# Thank for this project. I learn lot'sof think from this project....